# CNAK with Mall Customers Data

In [1]:
import os
import sys
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from src.cnak import cnak

In [3]:
df = pd.read_csv("../../data/processed/mall_customers_data.csv",index_col=[0])
df.reset_index(drop=True,inplace=True)
df.head()

     Gender       Age    Income     Score
0  1.128152 -1.424569 -1.738999 -0.434801
1  1.128152 -1.281035 -1.738999  1.195704
2 -0.886405 -1.352802 -1.700830 -1.715913
3 -0.886405 -1.137502 -1.700830  1.040418
4 -0.886405 -0.563369 -1.662660 -0.395980

In [4]:
cluster_lst = []
for _ in range(50):
    labels, scores, centers = cnak.CNAK(np.array(df), k_min=2)
    clusters = len(set(labels))
    cluster_lst.append(clusters)
    print(clusters)

 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 8
9
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 12
13
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 12
13
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 8
9
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 1
2
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 7
8
 gamma: 0.7  K_min: 2  K_max: 21
K_hat: 9
10

In [27]:
clusters_df = pd.DataFrame(cluster_lst).value_counts().reset_index()
clusters_df.columns = ['clusters','count']
clusters_df

   clusters  count
0        10     18
1         2     17
2         8     11
3         9      2
4        13      2

In [31]:
clusters_df.loc[clusters_df['count'] == clusters_df['count'].max()]['clusters'][0]

10

In [6]:
labels, scores, centers = cnak.CNAK(np.array(df), k_min=8, k_max=11)

 gamma: 0.7  K_min: 8  K_max: 11
K_hat: 3

In [7]:
set(labels)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
from sklearn.metrics import silhouette_score, davies_bouldin_score, calinski_harabasz_score
from sklearn.metrics import mutual_info_score, adjusted_rand_score

In [9]:
cnak_metrics = []
# Calculate clustering metrics
silhouette = silhouette_score(df, np.array(labels))
db_index = davies_bouldin_score(X=df, labels=np.array(labels))
ch_index = calinski_harabasz_score(df, np.array(labels))
# ari = adjusted_rand_score(y, np.array(labels))
# mi = mutual_info_score(y, np.array(labels))

cnak_metrics.append([silhouette,db_index,ch_index])

In [10]:
pd.DataFrame(data=cnak_metrics, columns=['silhouette','db_index','ch_index'], index=['cnak'])

      silhouette  db_index   ch_index
cnak    0.420764  0.833103  89.978196